@charset "utf-8";
/* CSS Document */


.wrapper {
	position:relative;
	top:100px;
	width:100%;
	background-color:#CCC;
}

#heading {
	font-size:36px;
	text-align:center;

}

.Label {
	position:relative;
	width:250px;
	padding:5px 30px 5px 20px;
}



#colon {
	padding-right:10px;
}

table {
	width:100%;
}

td {
	text-align:center;
}

#file {
	position:relative;
	float:left;
}

#rules_upload {
	text-align:left;
	color:#F00;
}


