@charset "utf-8";
/* CSS Document */

table {
	width:100%;
}

#leave_form{
	position:relative;
	width:65%;
	float:left
}

#leave_ticker{
		position:relative;

	float:right;
	width:32%;
}

.Label {
	position:relative;
	width:150px;
	padding:5px 1em 5px 1em;
}


#colon {
	padding-right:10px;
}

textarea[name=descrip] {
    resize: none;
}

#leave_history {
		position:relative;
		top:1em;
}

select {
    width: 100%;
    padding:0.2em;
    margin: 1em 0;
    font-size: 15px;
}
